@use '_01variable/01Var' as V;
// 匯入檔案在所有資料的最前面
// @import '_00variable.scss';
// 通用選擇器 *
*{
    // 外間距 上下為0 左右自動置中；四個值 上右下左
    margin: 0 auto;
    // 內間距 
    padding: 0;
    // 隱藏 項目符號
    // list-style-type: none;
}
// 設定 高度單位為 % 時，高度會自動展開
html, body {
    height: V.$Num10 * 10%;
    // width: V.$Num10 * 10;
    font-family: Arial, Helvetica, sans-serif, '微軟正黑體';
}

// 圖片等比縮放
img {
    width: V.$Ten * 10%;
    height: auto;
}

// 連結樣式
a {
    // 文字樣式
    color: white;
    // 取消底線
    text-decoration: none;
}