* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#ceshizhong {
  width: 100%;
  background-color: burlywood;
}

@media screen and (min-width: 0px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
  }
  header #menu {
    width: 15%;
    height: 50px;
    color: rebeccapurple;
    background-image: url(../../images/icons/list.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-color: aquamarine;
  }
  header h1 {
    width: 85%;
    background-color: gray;
  }
  header ul {
    width: 100%;
  }
  main {
    background-color: cadetblue;
  }
  nav {
    color: red;
  }
}
@media screen and (min-width: 576px) {
  header #menu {
    width: 13%;
    background-color: rgb(145, 48, 255);
  }
  header h1 {
    width: 87%;
    background-color: rgb(198, 40, 40);
  }
  main {
    background-color: green;
  }
  nav {
    color: yellow;
  }
}
@media screen and (min-width: 768px) {
  header #menu {
    width: 13%;
    background-color: rgb(244, 32, 32);
  }
  header h1 {
    background-color: rgb(222, 242, 41);
  }
  header ul {
    width: 100%;
  }
  main {
    background-color: palegreen;
  }
  nav {
    color: orange;
  }
}
@media screen and (min-width: 992px) {
  #ceshizhong {
    height: 100%;
  }
  header {
    width: 40%;
    height: 50%;
    float: left;
    background-color: brown;
  }
  main, #main {
    width: 60%;
    height: 80%;
    float: right;
    background-color: olivedrab;
  }
  footer {
    width: 60%;
    height: 20%;
    float: right;
    clear: both;
    background-color: goldenrod;
  }
}