* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#bookingplace {
  width: 100%;
  background-color: burlywood;
}

@media screen and (min-width: 0px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
  }
  header #menu {
    width: 15%;
    height: 50px;
    color: rebeccapurple;
    background-image: url(../../images/icons/list.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-color: cadetblue;
  }
  header h1 {
    width: 85%;
    background-color: rgb(188, 15, 78);
  }
}
@media screen and (min-width: 576px) {
  header #menu {
    width: 13%;
    background-color: pink;
  }
  header h1 {
    width: 87%;
    background-color: rgb(113, 11, 255);
  }
  header ul {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header #menu {
    width: 13%;
    background-color: rgb(128, 249, 47);
  }
  header h1 {
    width: 87%;
    background-color: rgb(63, 5, 254);
  }
  header ul {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .claerfix::after {
    content: "";
    display: block;
    clear: both;
  }
  header {
    width: 40%;
    float: left;
    clear: both;
    background-color: brown;
  }
  main, #main {
    width: 60%;
    float: right;
    background-color: olivedrab;
  }
  footer {
    width: 60%;
    float: right;
    background-color: goldenrod;
  }
}