@use '../_01variable/01Var' as V;

@mixin Rwd($width) {
    @if $width == xs {
        @media screen and (min-width: V.$xs) {
            @content;
        }
    }
    @else if $width == sm {
        @media screen and (min-width: V.$sm) {
            @content;
        }
    }
    @else if $width == md {
        @media screen and (min-width: V.$md) {
            @content;
        }
    }
    @else if $width == lg {
        @media screen and (min-width: V.$lg) {
            @content;
        }
    }
    @else if $width == xl {
        @media screen and (min-width: V.$xl) {
            @content;
        }
    }
    @else if $width == xxl {
        @media screen and (min-width: V.$xxl) {
            @content;
        }
    }
}

@mixin FloatBox() {  
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    header {
        width: Var.$Num10 * 4%;
        height: Var.$Num10 * 10%;
        float: left;
        #menu {
            display: none;
        }
        h1 {
            width: Var.$Num10 * 8%;
        }
        ul {
            width: Var.$Num10 * 8%;
            text-align: right;
            font-size: 1.2rem;
        }
    }
    main, #main {
        width: Var.$Num10 * 6%;
        height: Var.$Num10 * 8.5%;
        float: right;
        background-color: olivedrab;
    }

    footer {
        width: Var.$Num10 * 6%;
        height: Var.$Num10 * 1.5%;
        float: right;
        background-color: goldenrod;

    }
}

@mixin FlexBox() {
     #ceshizhong {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: Var.$Num10 * 4%;
        height: 100%;
        background-color: brown;
        #menu {
            display: none;
        }
    }

    main, #main {
        width: Var.$Num10 * 6%;
        height: Var.$Num10 * 8.5%;
        list-style-type: none;
        background-color: olivedrab;
        nav {
            background-color: blueviolet;
        }
    }

    footer {
        width: Var.$Num10 * 6%;
        height: Var.$Num10 * 1.5%;
        // 定位方式 絕對位置
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: goldenrod;

    }
}

@mixin Clearfix() {
    content: "";
    display: block;
    clear: both;
}
