// 讀取 變數 檔案 ；@use 區域性；一次性；規則 檔案要另給名稱；基於檔案的安全性；要放置在所有語法的最上層
@use '../_01variable/01Var' as V;
@use '../_02mixins/01Media' as Me;
@use '../_02mixins/02WH' as WH;
@use '../_02mixins/03Images' as Im;
@use '../_02mixins/04Animation' as An;
@use '../_02mixins/05Round' as Ro;

$MenuW: 15%;
$H: 11; // main > footer

@include Me.Rwd(xs) {
    // 繼承功能，無法寫在 media 判斷之外
    %XSWH {
        @include WH.WH(10%, 10%);
    }
    %PhoneMenuW {
        @include WH.W(10%);
    }
    %NavWidth {
        @include WH.W(9%);
    }
    %ListType {
        list-style-type: none;
    }
    .bookingplace {
        @extend %XSWH;
        #Banner {
            @extend %XSWH;
            position: relative;
            position: fixed;

            ul {
                @extend %XSWH;
                position: relative;

                li {
                    @extend %XSWH;
                    position: absolute;
                    @include An.Opacity;
                    @include An.BannerRound;


                    span {
                        @extend %XSWH;
                        display: block;
                        background-color: rgba(80, 80, 80, 0.3);
                    }
                }
                .Images1 {
                    @include Im.Images(no-repeat, center, cover, 0, photo, "001.jpg");
                }
                .Images2 {
                    @include Im.Images(no-repeat, center, cover, 0, photo, "002.jpg");
                }
                .Images3 {
                    @include Im.Images(no-repeat, center, cover, 0, photo, "003.jpg");
                }
                .Images4 {
                    @include Im.Images(no-repeat, center, cover, 0, photo, "004.jpg");
                }
                .Images5 {
                    @include Im.Images(no-repeat, center, cover, 0, photo, "005.jpg");
                }
                @include An.BannerDelay;
            }
            
        }
        
        header {

            @include WH.WH(10%, V.$HeaderH);
            position: absolute;
            z-index: V.$HeaderZindex;
            position: fixed;
            top: 0;
            background-color: V.$BlueColor;
            display: flex;

            $MenuW: 15%;
            .menu {
                @include WH.WH($MenuW, V.$HeaderH);
                @include Im.Images(no-repeat, center, cover, -9999px, icons, "list.svg");
            }
            h1 {
                @include WH.WH(calc(100% - $MenuW), V.$HeaderH);
                list-style-type: none;

                a {
                    @include WH.WH(5%, V.$HeaderH);
                    display: block;
                    span {
                        line-height: calc(V.$HeaderH * 10);
                    }  
                }
            }

            .ConnBox {
                display: none;
            }
        }
        #PhoneMenu {
            @include WH.WH(10%, 10%);
            position: absolute;
            z-index: V.$PMZindex;
            position: fixed;
            top: 0;
            background-color: #fff;
            display: none;

            $MenuHH: 15%;
            $MenuIH: 10%;
            $MenuNH: calc(100% - $MenuHH - $MenuIH);

            #menuheader {
                @extend %PhoneMenuW;
                height: $MenuHH;
                background-color: V.$BlueColor;
                list-style-type: none;

                li {
                    @include WH.WH(70px, 3.5px);
                    text-align: center;
                    margin-right: 0;

                    a {
                        padding: 0 5px;
                        font-size: 1rem * 1.2;
                        display: inline-block;
                    }
                }

                h1 {
                    text-align: center;
                    font-size: 1rem * 1.6;

                    a {
                        padding: 5px;
                    }
                }
            }

            #menunav {
                @include WH.WH(8.5%, 10%);
                height: $MenuNH;
                overflow-y: auto;

                h2 {
                    padding: 10px 0px;
                    border-bottom: solid 1px V.$BlueColor;
                }

                ul {
                    @include WH.W(8.5%);
                    margin-top: 20px;
                    @extend %ListType;

                    li {
                        font-size: 1rem * 1.2;
                        padding: 5px;
                    }
                }
            }
            
            #menuicon {
                @extend %NavWidth;
                height: $MenuIH;
                border-top: solid 1px V.$BlueColor;
                @extend %ListType;
                display: flex;

                li {
                    padding: 5px;
                }
            }
        }
        // // 選單共用區
        // .Items {
        //     display: flex;
        //     flex-wrap: wrap;
        //     li {
        //         width: Var.$Num10 * 10%;
        //         // 首行縮排
        //         text-indent: 8%;
        //         font-size: 1rem * 1.2;
        //     }
        //     .One {
        //         order: 2;
        //     }
        //     .Two {
        //         order: 3;
        //     }
        //     .Three {
        //         order: 4;
        //     }
        //     .Four {
        //         order: 5;
        //     }
        //     .Five {
        //         order: 6;
        //     }
        //     .Six {
        //         order: 1;
        //     }
        // }
        #main {

            @include WH.W(10%);
            margin-top: calc(V.$HeaderH * 10 + 10px);
            position: absolute;
            z-index: V.$InMainZindex;
            color: #fff;

            nav {
                @extend %NavWidth;

                ul {
                    @extend %ListType;

                    li {
                        @include WH.WH(9%, 15px);
                        background-color: red;
                        margin: {
                            top: 15px;
                            bottom: 15px;
                        };
                        @include Ro.RoundAll(15px, 15px, 15px, 15px);
                        position: relative;

                        $ItemaAH: 3.5px;
                        a {
                            @include WH.WH(10%, 5px);
                            position: absolute;
                            bottom: 0;
                            font-size: 1rem * 1.3;
                            background-color: rgba(210, 105, 30, 0.76);
                            @include Ro.RoundAll(0px, 0px, 15px, 15px);
                            span {
                                height: calc($ItemaAH * 10);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                    .One {
                        @include Im.Images(no-repeat, center, cover, 0, btn, "002.jpg")

                    }
                    .Two {
                        @include Im.Images(no-repeat, center, cover, 0, btn, "003.jpg")
                    }
                    .Three {
                        @include Im.Images(no-repeat, center, cover, 0, btn, "001.jpg")
                    }
                    .Four {
                        @include Im.Images(no-repeat, center, cover, 0, btn, "004.jpg")
                    }
                    .Five {
                        @include Im.Images(no-repeat, center, cover, 0, btn, "005.jpg")
                    }
                    .Six {
                        @include Im.Images(no-repeat, center, cover, 0, btn, "006.jpg")
                    }


                }
                .Null {
                    height: calc(($H * 10) * 1px + 20px);
                }
            }
            
            footer {
                @include WH.WH(10%, calc($H * 1px));
                background-color: V.$BlueColor;
                @extend %ListType;
                font-size: 1rem * 0.5;
                text-align: center;
                position: absolute;
                z-index: V.$HeaderZindex;
                bottom: 0;
                position: fixed;
                padding: {
                    top: 5px;
                    bottom: 15px;
                };

                .ConnBox {
                    font-size: 1rem * 0.9;
                    margin-bottom: 10px;
                }
            }

            
        }

    }  
}

@include Me.Rwd(sm) {
    // header {
    //     #menu {
    //         width: Var.$Num10 * 1.3%;
    //         // background-color: rgb(145, 48, 255);
    //     }
    //     h1 {
    //         width: Var.$Num10 * 8.7%;
    //         // background-color: rgb(198, 40, 40);
    //     }
    // }
}

@include Me.Rwd(md) {
    .bookingplace {
        header {
            $MdMenuW: calc($MenuW - 5%);
            .menu {
                @include WH.WH(calc($MdMenuW / 10), V.$HeaderH);
            }
            h1 {
                @include WH.WH(calc((100% - $MdMenuW) / 10), V.$HeaderH);

            }
        }
        #main {
            nav {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        @include WH.WH(4.5%, 23px);
                    }
                }
            }
        }
    }
}

@include Me.Rwd(lg) {
    %LgListType {
        list-style-type: none;
    }
    // vw 寬度單位(裝置的可視範圍)，不要與 % 共用；特性： 1. 自動展開高度，父框架不需要給值 2. 有百分比的特性 
    // vh 高度單位(裝置的可視範圍)，不要與 % 共用；特性： 1. 自動展開高度，父框架不需要給值
    .bookingplace {
        display: flex;
        header {
            @include WH.W(calc(10% / 3));            
            // 定位點：預設值(靜態定位)，「不會特別定位」在頁面上特定位置，而是照著瀏覽器預設的配置自動排版在頁面上。
            position: static;
            z-index: 0;
            flex-wrap: wrap;
            background-color: transparent;

            $ConnBoxH: 1.5vh;
            .menu {
                display: none;
            }
            h1 {
                @include WH.WH(10%, calc(10vh - $ConnBoxH));
                text-align: center;
            }
            .ConnBox {
                @include WH.WH(8.5%, $ConnBoxH);
                display: block;
                @extend %LgListType;
                color: #fff;
            }

        }

        #main {
            $H: 8vh;

            @include WH.WH(calc(10% / 3 * 2), 10vh);
            margin-top: 0;
            position: static;
            z-index: 0;

            nav {
                width: 80%;
                height: calc(100vh - $H);
                .TopNull {
                    height: 90px;
                }
                ul {
                    li {
                        @include WH.WH(calc(10% / 3), 3vh);
                        margin: 0;
                        @include Ro.RoundAll(0, 0, 0, 0);
    

                        a {
                            @include WH.WH(10%, 10%);
                            position: static;
                            bottom: 0;
                            font-size: 1rem * 1.3;
                            @include Ro.RoundAll(0, 0, 0, 0);
                            background-color: transparent;
                            span {
                                @include WH.H(10%);
                                color: transparent;
                            }

                        }
                        a:hover {
                            display: block;
                            background-color: rgba(50, 50, 50, 0.5);
                            span {
                                @include WH.H(10%);
                                display: flex;
                                justify-content: center;
                                text-align: center;
                                color: #fff;
                            }
                        }
                    }
                }
                .Null {
                    height: 0;
                }
            }
            footer {
                height: $H;
                position: static;
                z-index: 0;
                padding: 0;
                background-color: transparent;
                ul {
                    @extend %LgListType;
                    display: none;
                }

            }
        }
    }
}

