@use '../_01variable/01Var' as Var;
@use '../_02mixins/01Media' as Rwd;
@use '../_02mixins/02WH' as Wh;
@use '../_02mixins/03Images' as Img;
@use '../_02mixins//04Animation' as An;
@use '../_02mixins/05Round' as Ro;

@include Rwd.Rwd(xs) {
    %WHIn {
        @include Wh.WH(10%, 10%);
    }
    %W100 {
        @include Wh.W(10%);
    }
    %ListNone {
        list-style-type: none;
    }
    %justifyAlign {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    %DisplayNoneIn {
        display: none;
    }

    #bookingplace {
        @extend %WHIn;
        
        > #Banner {
            @extend %WHIn;
            position: fixed;

            ul {
                @extend %WHIn;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                
                li {
                    @extend %WHIn;
                    position: absolute;
                    @include An.Opacity;
                    @include An.BannerRound;
                    
                    span {
                        @extend %WHIn;
                        display: block;
                        background: rgba(122, 122, 122, 0.5);
                    }
                }
                .Images1 {
                    @include Img.Images(no-repeat, center, cover, 0, photo, "005.jpg");
                    background-color: bisque;
                }
                .Images2 {
                    @include Img.Images(no-repeat, center, cover, 0, photo, "004.jpg");
                    background-color: rgb(249, 29, 29);
                }
                .Images3 {
                    @include Img.Images(no-repeat, center, cover, 0, photo, "003.jpg");
                    background-color: rgb(227, 40, 130);
                }
                .Images4 {
                    @include Img.Images(no-repeat, center, cover, 0, photo, "002.jpg");
                    background-color: rgb(20, 229, 51);
                }
                .Images5 {
                    @include Img.Images(no-repeat, center, cover, 0, photo, "001.jpg");
                    background-color: rgb(18, 92, 222);
                }
                @include An.BannerDelay;
            }
            
        }

        
        > header {
            @extend %W100;
            height: Var.$HeaderH;
            position: absolute;
            z-index: Var.$ZNum45;
            position: fixed;
            top: 0;
            @extend %ListNone;
            display: flex;
            background-color: Var.$Blue-Grenn;

            $MenuWidth: 12%;
            #menu {
                width: $MenuWidth;
                height: 100%;
                @include Img.Images(no-repeat, center, contain, -9999px, icon, "list.svg");
            }
            #Logo {
                width: calc( 100% - $MenuWidth);
                @extend %justifyAlign;

                a {
                    color: white;
                    // text-decoration: none;
                }

            }
            .ConnBox {
                @extend %DisplayNoneIn;
            }
        }

        > #PhoneMenu {
            @extend %DisplayNoneIn;
            @extend %WHIn;
            position: absolute;
            top: 0;
            position: fixed;
            z-index: Var.$ZNum50;
            background-color: white;

            $MH: 15%;
            $FH: 7%;

            > #menuheader {
                @extend %W100;
                height: $MH;
                background-color: Var.$Blue-Grenn;

                #close {
                    width: 10%;
                    color: white;
                    font-size: 1rem * 1.6;
                    text-align: center;
                    margin-right: 0;
                    @extend %ListNone;
                }

                h1 {
                    font-size: 1rem * 1.8;
                    @extend %justifyAlign;

                    a {
                        color: white;
                    }
                }

            }

            > #menunav {
                width: 70%;
                height: calc( 100% - $MH - $FH );
                overflow-y: auto;

                h2 {
                    margin: {
                        top: 20px;
                        bottom: 5px;
                    };
                    border-bottom: 1px solid Var.$Blue-Grenn;
                }

                ul {
                    width: 90%;
                    @extend %ListNone;
                    margin-right: 0;
                    font-size: 1rem * 1.1;

                    li {
                        margin: {
                            top: 5px;
                        };

                        a {
                            color: Var.$BrowmColor;
                        }
                    }
                }
            }

            > #menuicon {
                width: 85%;
                height: $FH;
                @extend %ListNone;
                @extend %justifyAlign;
                border-top: 1px solid Var.$Blue-Grenn;
            }
        }

        > #main {
            @extend %W100;
            position: absolute;
            z-index: Var.$ZNum20;
            top: 0;

            nav {
                @extend %W100;
                
                $UlH: 20px;
                ul {
                    width: 80%;
                    @extend %ListNone;
                    margin-top: Var.$HeaderH;
                    display: flex;
                    flex-wrap: wrap;
                    
                    li {
                        @extend %W100;
                        height: 200px;
                        margin-top: $UlH;
                        @include Ro.RoundAll(15px, 15px, 15px, 15px);
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items:flex-end;
                        background-color: rgba(255, 192, 203, 0.622);

                        $SpanH: 40px;
                        span {
                            @extend %W100;
                            height: $SpanH;
                            display: inline-block;
                            font-size: 1rem * 1.3;
                            text-align: center;
                            background-color: rgba(255, 192, 203, 0.622);
                            @include Ro.RoundAll(0, 0, 15px, 15px);

                            a {
                                color: Var.$BrowmColor;
                                font-weight: 700;
                                letter-spacing: 0.7px;
                                line-height: $SpanH;
                            }
                        }
                        
                    }

                    .One {
                        order: 2;
                        @include Img.Images(no-repeat, center, cover, 0, btn, "001.jpg");
                    }
                    .Two {
                        order: 3;
                        @include Img.Images(no-repeat, center, cover, 0, btn, "003.jpg");
                    }
                    .Three {
                        order: 4;
                        @include Img.Images(no-repeat, center, cover, 0, btn, "004.jpg");
                    }
                    .Four {
                        order: 5;
                        @include Img.Images(no-repeat, center, cover, 0, btn, "005.jpg");
                    }
                    .Five {
                        order: 6;
                        @include Img.Images(no-repeat, center, cover, 0, btn, "006.jpg");
                        margin-bottom: $UlH;
                    }
                    .Six {
                        order: 1;
                        @include Img.Images(no-repeat, center, cover, 0, btn, "002.jpg");
                    }
                }
            }    

            > footer {                
                ul {
                    @extend %ListNone;
                    color: white;
                    font-size: 1rem * 0.85;
                    text-align: center;
                    margin-bottom: 5px;
                }
            }
        }
        


    }
}

@include Rwd.Rwd(md) {
    #bookingplace {
        
        > header {
            $MenuWidth: 10%;
            #menu {
                width: $MenuWidth;
            }
            #Logo {
                width: calc( 100% - $MenuWidth );
            }
        }
        > #PhoneMenu {
            $MH: 12%;
            $FH: 6%;

            > #menuheader {
                height: $MH;

                #close {
                    font-size: 1rem * 1.8;
                }

                h1 {
                    font-size: 1rem * 2.2;
                    margin-top: calc( $MH / 11 );
                }
            }

            > #menunav {
                height: calc( 100% - $MH - $FH );
                ul {
                    font-size: 1rem * 1.5;

                    li {
                        a {
                            font-size: 1rem * 1.2;
                        }
                    }
                }
            }

            > #menuicon {
                height: $FH;
            }
        }

        > #main {
            height: 100%;
            $DivH: 2.5%;
            $FooterH: 10%;
            $NavH: calc( 100% - $DivH - $FooterH );
            div {
                height: $DivH;
            }
            nav {
                height: $NavH;
                ul {
                    width: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    height: 100%;

                    li {
                        width: 47%;
                        height: calc( $NavH / 3 );
                    }
                }
            }

            > footer {
                width: 80%;
                height: 10%;
                ul {
                    font-size: 1rem * 0.9;
                }
                .ConnBox {
                    display: flex;
                }
            }
        }
    }
}

@include Rwd.Rwd(lg) {
    %DisplayNoneInG {
        display: none;
    }
    %ListNoneG {
        list-style-type: none;
    }
    #bookingplace {
        display: flex;
        $WidthH: calc( 100% / 3 );
        > header {
            width: $WidthH;
            height: 100%;
            position: static;
            flex-wrap: wrap;
            background-color: transparent;
            #menu {
                @extend %DisplayNoneInG;
            }
            $LogoH: 7.8%;
            #Logo {
                @include Wh.WH(10%, $LogoH);
                display: block;
                text-align: center;
                margin-top: 20px;
            }
            .ConnBox {
                @include Wh.WH(6.5%, calc( 10% - $LogoH ));
                display: block;
                color: white;
                @extend %ListNoneG;
            }
        }
        > #main {
            width: calc( $WidthH * 2 );
            position: static;
            div {
                @extend %DisplayNoneInG;
            }
            nav {
                ul {
                    height: 500px;
                    margin-top: 0;
                    li {
                        width: calc( 100% / 3 );
                        height: 200px;
                        margin-top: 0;
                        @include Ro.RoundAll(0, 0, 0, 0);

                        span {
                            @include Wh.WH(10%, 10%);
                            @include Ro.RoundAll(0, 0, 0, 0);
                            background-color: transparent;

                            a {
                                @include Wh.WH(10%, 10%);
                                display: block;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: transparent;                                
                            }
                            :hover {
                                color: white;
                                background-color: rgba(53, 53, 53, 0.329);
                            }
                        }
                    }
                    .Six, .One, .Two {
                        margin-top: 10%;
                    }
                }
            }
            > footer {
                .ConnBox {
                    @extend %DisplayNoneInG;
                }
            }

        }

    }
}