@use '../_01variable/01Var' as V;
@use '../_02mixins/01Media' as Me;
@use '../_02mixins/02WH' as WH;
@use '../_02mixins/03Images' as Im;
@use '../_02mixins/04Animation' as An;
@use '../_02mixins/05Round' as Ro;

@include Me.Rwd(xs) {
    %PstXsWH {
        @include WH.WH(10%, 10%);
    }
    .bookingplace {
        #Golfmain {
            @extend %PstXsWH;
            // 彈性佈局 - 設定框架順序位置
            .GolfImg {
                @extend %PstXsWH;
                position: relative;

                #WebBanner {
                    @extend %PstXsWH; 
                    ul {
                        @extend %PstXsWH;
                        position: relative;
                        li {
                            @extend %PstXsWH;
                            position: absolute;
                            @include An.Opacity;
                            @include An.BannerRound;
                        }
                        .I01 {
                            @include Im.Images(no-repeat, center, cover, 0, photo, "001.jpg");
                        }
                        .I02 {
                            @include Im.Images(no-repeat, center, cover, 0, photo, "002.jpg");
                        }
                        .I03 {
                            @include Im.Images(no-repeat, center, cover, 0, photo, "003.jpg");
                        }
                        .I04 {
                            @include Im.Images(no-repeat, center, cover, 0, photo, "004.jpg");
                        }
                        .I05 {
                            @include Im.Images(no-repeat, center, cover, 0, photo, "005.jpg");
                        }
                        @include An.BannerDelay;
                    }
                }
                article {
                    @extend %PstXsWH;
                    position: absolute;
                    z-index: V.$InMainZindex;
                    top: 0;
                    color: white;
                    > li {
                        @include WH.H(calc(V.$HeaderH + 8px));
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        font-size: 1rem * 1.2;
                    }
                    ul {
                        $w: 5.5%;
                        @include WH.W($w);
                        position: absolute;
                        bottom: 80px;
                        margin-left: calc((100% - $w * 10) / 2);
                        list-style-type: none;
                        text-align: center;

                    }
                }
            }
        }
    }
}