/* 手機用 576px 以下 */
#Index {
    width: calc(var(--w) * 9);
    /* height: 100%; */
    /* font-size: 16px; */
    background-color: var(--colorBrown);
}

#Index > h1 {
    /* 寬度 */
    width: 80%;
    /* 高度 */
    /* height: 40%; */
    /* 文字顏色 */
    color: var(--colorBlue);
    /* 文字尺寸 */
    font-size: calc(var(--FontSize) * 2);
    /* 背景顏色 */
    background-color: aquamarine;
}
#Index > nav {
    width: 80%;
    font-size: 32px;
    /* 文字粗細 */
    font-weight: 800;
    list-style-type: none;

}
/* 子選擇器 1. 可以減少設定 id or class 名稱 2. 減少同標籤呼叫的錯誤 */
#Index > nav  > #one > a {}

/* 假設 576px以下版本，不顯示 #Box */
#Box {
    /* 顯示方式：不顯示 */
    display: none;
}

/* 媒體判斷 -- 媒介乘載的硬體(手機、平板、螢幕、印表機、電視) */

 /* 媒體判斷 -- 斷點 最小值 最大值 介於
 /* 手機尺寸不超過 320像素 */
/* @media screen and (max-width: 320px) { 
} */
/* 手機尺寸介於 321 和 576 像素之間 */
/* @media screen and (min-width: 321px) and (max-width: 576px) { 
} */

@media screen and (min-width: 576px) {
    #Index > h1 {
        font-size: calc(var(--FontSize) * 0.5);
        background-color: rgb(237, 118, 229);
    }
    #Box {
        /* 顯示方式：區塊*/
        display: block;
    }
}
@media screen and (min-width: 768px) {
    #Index > h1 {
        font-size: calc(var(--FontSize) * 1.2);
        background-color: rgb(48, 224, 189);
    }
}
